@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var antiforgeryToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <label for="currentPasswordInput" class="form-label">Şu Anki Şifre</label>
        <input type="password" required class="form-control" id="currentPasswordInput" aria-describedby="Şu Anki Şifre" />
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <label for="newPasswordInput" class="form-label">Yeni Şifre</label>
        <input type="password" required class="form-control" id="newPasswordInput" aria-describedby="Yeni Şifre" />
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <label for="newPasswordConfirmationInput" class="form-label">Yeni Şifre Tekrar</label>
        <input type="password" required class="form-control" id="newPasswordConfirmationInput" aria-describedby="Yeni Şifre Tekrar" />
    </div>
</div>

<br />

<div class="row justify-content-center">
    <div class="col-md-4">
        <button class="btn btn-primary float-end" id="saveButton">Kaydet</button>
    </div>
</div>

@section Scripts{

    <script>

        $("#saveButton").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangePassword", "Account")',
                headers: {
                    'RequestVerificationToken': '@antiforgeryToken'
                },
                data: {
                    currentPassword: $("#currentPasswordInput").val(),
                    newPassword: $("#newPasswordInput").val(),
                    newPasswordConfirmation: $("#newPasswordConfirmationInput").val()
                }
            }).done(function (result, status, xhr) {
                Swal.fire('Şifre başarıyla değiştirildi.', '', 'success');

                $("#currentPasswordInput").val('');
                $("#newPasswordInput").val('');
                $("#newPasswordConfirmationInput").val('');
            });
        })

    </script>

}