@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var antiforgeryToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}


<div class="modal-header bg-primary">
    <h5 class="modal-title" id="staticBackdropLabel">Veri Girişi</h5>
    <button type="button" class="btn-close cancelMakeProgress" @*data-bs-dismiss="modal"*@ aria-label="Close"></button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <label for="noteTextarea" class="form-label">Not</label>
            <textarea id="noteTextarea" class="form-control" aria-describedby="Not" rows="7"></textarea>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary cancelMakeProgress" @*data-bs-dismiss="modal"*@ id="cancelMakeProgressButton">İptal</button>
    <button type="button" class="btn btn-primary" @*data-bs-dismiss="modal"*@ id="makeProgressWithNoteButton"><i class="fas fa-save"></i> Kaydet</button>
</div>



<script>

    $("#makeProgressWithNoteButton").click(function () {
        $.ajax({
            type: "POST",
            headers: {
                'RequestVerificationToken': '@antiforgeryToken'
            },
            url: "@Url.Action("MakeProgressWithNote", "Process1")",
            data: {
                requestId: '@ViewBag.RequestId',
                commandId: '@ViewBag.CommandId',
                note: $("#noteTextarea").val()
            }
        }).done(function (result, status, xhr) {
            location.reload();
        });
    })

    $(".cancelMakeProgress").click(function () {
        hideProgressDataModal();
    })

</script>